[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
allure-pytest = "==2.8.18"
allure-python-commons = "==2.8.18"
appdirs = "==1.4.4"
assertpy = "==1.1"
astroid = "==2.5"
atomicwrites = "==1.4.0"
attrs = "==22.1.0"
certifi = "==2022.5.18"
chardet = "==3.0.4"
colorama = "==0.4.4"
configparser = "==5.2.0"
crayons = "==0.4.0"
distlib = "==0.3.4"
filelock = "==3.7.0"
idna = "==2.10"
iniconfig = "==1.1.1"
isort = "==5.10.1"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.6.1"
pipenv = "==2022.5.2"
py = "==1.11.0"
pylint = "==2.7.1"
pyparsing = "==3.0.9"
pytest = "==6.1.2"
pytest-ordering = "==0.6"
python-dateutil = "==2.8.1"
requests = "==2.24.0"
selenium = "==3.141.0"
six = "==1.16.0"
text-unidecode = "==1.3"
toml = "==0.10.2"
urllib3 = "==1.25.11"
virtualenv = "==20.1.0"
virtualenv-clone = "==0.5.7"
webdriver-manager = "==3.2.2"
wrapt = "==1.12.1"
Faker = "==4.14.0"
enums = "*"
xlrd = "*"
page-objects = "*"

[requires]
python_version = "3.9"
