[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pytest = "*"
allure-pytest = "*"
webdriver-manager = "*"

[requires]
python_version = "3.8"
