allure-pytest
allure-python-commons
appdirs
assertpy
atomicwrites
attrs
certifi
chardet
colorama
configparser
crayons
distlib
filelock
idna
iniconfig
packaging
pipenv
pluggy
py
pyparsing
pytest
pytest-ordering
requests
selenium
six
toml
urllib3
virtualenv
virtualenv-clone
webdriver-manager
xlrd